@import 'header';
@import 'colors';
@import 'content';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: $black;
}